* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 12px;
  z-index: 0;
  background: #f1f5f9;
}

.leaflet-tile-pane {
  z-index: 1;
}
